<% fillings=["fish", "beef"] %>

<h1> I love tacos </h1>

<ul>
<% for filling in fillings %>
  <li> <%= filling %> </li>
<% end %>
</ul>

<li> carnitas </li>
<li> vegie </li>
<li> beef </li>
<% 
# comment
%>
<p>Currently thre are <%= fillings.size %> fillings